<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CollegePortal</display-name>
  <welcome-file-list>
    <welcome-file>user.jsp</welcome-file>
    <welcome-file>admin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.colledgePortal.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.colledgePortal.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfo</display-name>
    <servlet-name>StudentInfo</servlet-name>
    <servlet-class>com.colledgePortal.StudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfo</servlet-name>
    <url-pattern>/StudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddImage</display-name>
    <servlet-name>AddImage</servlet-name>
    <servlet-class>com.colledgePortal.AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImage</servlet-name>
    <url-pattern>/AddImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayImage</display-name>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>com.colledgePortal.DisplayImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitFeedback</display-name>
    <servlet-name>SubmitFeedback</servlet-name>
    <servlet-class>com.colledgePortal.SubmitFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitFeedback</servlet-name>
    <url-pattern>/SubmitFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalenderUpload</display-name>
    <servlet-name>CalenderUpload</servlet-name>
    <servlet-class>com.colledgePortal.CalenderUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalenderUpload</servlet-name>
    <url-pattern>/CalenderUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeUpload</display-name>
    <servlet-name>NoticeUpload</servlet-name>
    <servlet-class>com.colledgePortal.NoticeUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeUpload</servlet-name>
    <url-pattern>/NoticeUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionalUpload</display-name>
    <servlet-name>SessionalUpload</servlet-name>
    <servlet-class>com.colledgePortal.SessionalUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionalUpload</servlet-name>
    <url-pattern>/SessionalUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlacementUpload</display-name>
    <servlet-name>PlacementUpload</servlet-name>
    <servlet-class>com.colledgePortal.PlacementUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlacementUpload</servlet-name>
    <url-pattern>/PlacementUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTableUpload</display-name>
    <servlet-name>TimeTableUpload</servlet-name>
    <servlet-class>com.colledgePortal.TimeTableUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTableUpload</servlet-name>
    <url-pattern>/TimeTableUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.colledgePortal.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserCalender</display-name>
    <servlet-name>UserCalender</servlet-name>
    <servlet-class>com.colledgePortal.UserCalender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCalender</servlet-name>
    <url-pattern>/UserCalender</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentInfo</display-name>
    <servlet-name>UpdateStudentInfo</servlet-name>
    <servlet-class>com.colledgePortal.UpdateStudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentInfo</servlet-name>
    <url-pattern>/UpdateStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayNotice</display-name>
    <servlet-name>DisplayNotice</servlet-name>
    <servlet-class>com.colledgePortal.DisplayNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayNotice</servlet-name>
    <url-pattern>/DisplayNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySessional</display-name>
    <servlet-name>DisplaySessional</servlet-name>
    <servlet-class>com.colledgePortal.DisplaySessional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySessional</servlet-name>
    <url-pattern>/DisplaySessional</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTimeTable</display-name>
    <servlet-name>DisplayTimeTable</servlet-name>
    <servlet-class>com.colledgePortal.DisplayTimeTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTimeTable</servlet-name>
    <url-pattern>/DisplayTimeTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPlacement</display-name>
    <servlet-name>DisplayPlacement</servlet-name>
    <servlet-class>com.colledgePortal.DisplayPlacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPlacement</servlet-name>
    <url-pattern>/DisplayPlacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.colledgePortal.UserSessional</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserNotice</display-name>
    <servlet-name>UserNotice</servlet-name>
    <servlet-class>com.colledgePortal.UserNotice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserNotice</servlet-name>
    <url-pattern>/UserNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPlacement</display-name>
    <servlet-name>UserPlacement</servlet-name>
    <servlet-class>com.colledgePortal.UserPlacement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPlacement</servlet-name>
    <url-pattern>/UserPlacement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTimeTable</display-name>
    <servlet-name>UserTimeTable</servlet-name>
    <servlet-class>com.colledgePortal.UserTimeTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTimeTable</servlet-name>
    <url-pattern>/UserTimeTable</url-pattern>
  </servlet-mapping>
</web-app>